.about{
    align-content: justify;
    margin-top: 40px;
}
.card_border{
    border-radius: 25%;
    border: 1px solid rgba(0, 0, 0, 0.125); */
    /*border-radius: 0.25rem;*/
}
.card-body-about{
    padding: 5px;
    text-align: center;
}
.col-about{
    padding-right: 5px;
    padding-left: 5px;
}


.bg-flat-color-1 {background: #20a8d8};
.bg-flat-color-2 {background: #63c2de};
.bg-flat-color-3 {background: #ffc107};
.bg-flat-color-4 {background: #f86c6b};
.bg-flat-color-5 {background: #4dbd74};


.dataTables_length{
    text-align: left;
}

.dataTables_filter{
    text-align: left;
}

.pesan{ margin-bottom:50px;   text-align: center; vertical-align: middle;}
.pesan>h1{font-size:15vw;}.pesan>p{font-size:3vw;}

.iko{
    max-width: 150px;
    position: relative;
    overflow: hidden;
    /*border-radius: 50%;
    /*border:2px solid #DDD;*/
    /*right: -25%;*/
    align-self: center;
    padding: 10px;
}
/*.card-body p{
    text-align: justify;
}*/

.tbdata{
  margin-bottom: 10px;
}

.salinklogo{
    max-width: 250px;
}

.salinklogo2{
  max-width: 150px;
  margin: 10px;
}

.bplogo{
    max-width: 100px;
}

.navigasi{
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.bars{
    border-top: 2px solid #FF0000;
}

.card-title-about{
    margin-bottom: 0px;
}

.image-cropper {
    width: 120px;
    height: 120px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border:2px solid #DDD;
    /*right: -25%;*/
    align-self: center;
    padding: 30px;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  /*margin-left: -25%; //centers the image*/
  height: 100%;
  width: auto;
}
.layanan{
    margin-bottom: 15px;
    margin-top: 20px;
}

#barslayanan{
    margin-bottom: 15px;
}

.profil-penulis{
    max-height: 64px;
    max-width: 64px;
}

hr{
    width: 60%;
}
.layanan h3{
    text-align: center;
    text-transform: uppercase;
}

.read{
    margin-bottom: 20px;
    /*text-transform:uppercase;*/
    text-decoration: none;
    color: #ddd;
}
.about>h3{
    text-align: center;
    text-transform: uppercase;
}
.about p{
    text-align: justify;
}
.tes{
    position: relative;
}
.tes2{
    position: absolute;
    right: 0;
    top: 0px;
}
.content{
	padding: 30px 0;
}
.header{
    background: #f3f3f3;
}
.head_logo{
    max-width: 25px;
    margin: 5px;
}
.head_logo_2{
    max-height: 40px;
    margin:5px;
}

.aktif{
        /*background-color: #f5f5f5;*/
        background-color: #e6e6e6;
}
.nav-item-edit{
    padding: .5rem .4rem;
}
.nama_nav{
    font-weight: 800;
    font-size: 23px;
}
.nav-item:hover{
    background: #6c757d!important;
}

.teks-kecil{
    font-size: 60%;
}

.loading{
    display: none;
}

.navbar_edit{
    padding: 0px;
}
.kotak{
    border-radius: 0;
}
.jejer{
    display: flex;
    align-items: center;
}
.footer{
	background: #fafafa;
	border-top: 1px solid #ddd;
	padding-top: 30px;
}
.ft_bawah{
    margin-top: 10px;
	background: #f3f3f3;
	padding: 10px 0;
    border-top: 2px solid #fff;
}

.bawah{
    border-top: 0.5px solid #e6e6e6;
    padding-top: 15px;
    padding-bottom: 15px;
}
